:root {
    /*COLOR PRIMARIO (navbar, footer, color hover cards, encabezados tablas, botones Agregar, Volver, Guardar*/
    --color-primario:#0D6EFD ; /*rgb(99, 3, 78)*/
    /*COLOR SECUNDARIO (fondo inicio, fondo formularios*/
    --color-secundario:#CFF4FC ; /* rgb(39, 235, 98)*/
    /*Color texto*/
    --color-texto: white;
    --color-texto-hover: white;
    /*COLORES TABLA LISTA*/
    --color-fondo-celda-activa: #CFF4FC;
    --color-fondo-celda-inactiva: #f8d7da;
    --color-texto-tabla: black;
    /*Color del hover de los botones Agregar, Volver, Guardar)*/
    --color-boton-hover: rgb(10, 106, 109); /*grey*/
}

/*MANEJO DE COLORES*/
.color-primario{
    background-color: var(--color-primario);
}
.color-secundario{
    background-color: var(--color-secundario);
}
.color-texto{
    color: var(--color-texto)
}
/*Formularios*/
.bordes-color{
    border: 4px solid var(--color-primario) ;
}
/*Tabla*/
.celda-activa{
    background-color: var(--color-fondo-celda-activa);
}
.celda-inactiva{
    background-color: var(--color-fondo-celda-inactiva);
}
.texto-tabla{
    color: var(--color-texto-tabla);
    font-weight: 500;
}
/*Botones*/
.boton-primario{
    background-color: var(--color-primario);
    border: 1px solid dark;
    color: var(--color-texto);
}
.boton-primario:hover{
    background-color: var(--color-boton-hover);
    border: 1px solid var(--color-primario);
    color: var(--color-texto-hover);
}
/*Fondo de las cards inicio*/
.fondo:hover {
    background: var(--color-primario);
    color: var(--color-texto-hover);
}
/*FIN MANEJO DE COLORES*/


body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.icono {
    width: 20px;
}

.iconos-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;  
}

.principal{
    position: relative;
    padding-bottom: 20px;
    min-height: 90vh;
}

.footer{
    position: absolute;
    bottom: 0;
    height: 20px;
    left: 0;
    right: 0;
}

.control-ancho{
    width: 50%;
}

.fondo{
    max-width: 350px;
}

.card-img-top{
    height:200px;
}

.tarjeta{
    max-width: 300px;
    margin: 20px;
    padding: 0;
}

@media(max-width: 992px) {
    .control-ancho {
        width: 100%;
    }
    .fondo img{
        display: none;
    }
    .principal{
        min-height: auto;
    }

}


