{% extends 'base.html' %}
{% block titulo %}Crear Prestamo{% endblock titulo %}
{% block contenido %}
    <div class="container">
        <div class="text-center">
            <h3 class="title">Crear Prestamo</h3>
        </div>
        <div class="container">
            <form class="align-center" method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </div>
        <div class="container text-end">
            <a class="btn btn-primary" href= {% url 'prestamolibros:ListarPrestamosLibro' %}>Volver al listado</a>
        </div>
    </div>
{% endblock contenido %}