{% extends 'base.html' %}
{% block titulo %}Listar Prestamos{% endblock titulo %}
{% block contenido %}
<div class="container">
  <div class="text-center">
    <h3 class="title">Lista de Prestamos</h3>
  </div>
  <table class="table">
    <thead>
      <tr class="bg-dark text-white">
        <th scope="col">ID</th>
        <th scope="col">LIBRO</th>
        <th scope="col">SOCIO</th>
        <th scope="col">PRESTAMO</th>
        <th scope="col">DEVOLUCION</th>
        <th scope="col">EMPLEADO</th>
        <th scope="col">ELIMINAR</th>
        <th scope="col">EDITAR</th>
        <th scope="col"></th>
				{% comment %} podemos agregar la columna detalle
				que al hacer click en una lupa vaya a la url (empleado/pk) {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {% comment %} aqui empleados va a varirar dependiendo 
      de como me pasen las lista desde la views {% endcomment %}
    {% for prestamo in object_list %}
      <tr>
        <td>{{prestamo.pk}}</td>
        <td>{{prestamo.libro}}</td>
        <td>{{prestamo.socio}}</td>
        <td>{{prestamo.fecha_prestamos}}</td>
        <td>{{prestamo.fecha_devolucion}}</td>
        <td>{{prestamo.empleado}}</td>
        <td>
          <a class="btn btn-danger btn-sm" href= ''>Borrar</a>
        </td>
        <td>
          <a class="btn btn-dark btn-sm" href= ''>Editar</a>
        </td>
			</tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="container text-end">
  <a class="btn btn-primary" href= ''>Agregar Prestamo</a>
</div>
{% endblock contenido %}
