{% extends 'base.html' %}
{% block titulo %}Inicio{% endblock titulo %}
{% load static %}

{% block contenido %}
<div class="container p-5 d-flex bg-primary-subtle text-center">
    <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
        <a class="tarjeta" href="{% url 'empleados:ListarEmpleados' %}">
            <div class="col">
                <div class="card fondo" >
                  <img src="{% static 'imagenes/empleado.jpg' %}" class="card-img-top" style="height:200px" alt="empleados">
                  <div class="card-body">
                    <h5 class="card-title">Empleados</h5>
                  </div>
                </div>
            </div>
        </a>
        <a class="tarjeta" href="{% url 'socios:ListarSocios' %}">
            <div class="col">
                <div class="card fondo">
                  <img src="{% static 'imagenes/socios.jpg' %}" class="card-img-top" style="height:200px" alt="socios">
                  <div class="card-body">
                    <h5 class="card-title">Socios</h5>
                  </div>
                </div>
            </div>
        </a>
        <a class="tarjeta" href="{% url 'autores:ListarAutores' %}">
            <div class="col">
                <div class="card fondo">
                  <img src="{% static 'imagenes/autores.png' %}" class="card-img-top" style="height:200px" alt="autores">
                  <div class="card-body">
                    <h5 class="card-title">Autores</h5>
                  </div>
                </div>
            </div>
        </a>
        <a class="tarjeta" href="{% url 'libros:ListarLibros' %}">
            <div class="col">
                <div class="card fondo">
                    <img src="{% static 'imagenes/libros.jpg' %}" class="card-img-top" style="height:200px" alt="libros">
                    <div class="card-body">
                    <h5 class="card-title">Libros</h5>
                    </div>
                </div>
            </div>
        </a>
        <a class="tarjeta" href="{% url 'prestamos:ListarPrestamosLibro' %}">
            <div class="col">
                <div class="card fondo">
                <img src="{% static 'imagenes/prestamos.jpg' %}" class="card-img-top" style="height:200px" alt="prestamos">
                <div class="card-body">
                    <h5 class="card-title">Prestamos</h5>
                </div>
                </div>
            </div>
        </a>
        
      </div>
</div>
{% endblock contenido %}